<!-- 上下架modal -->
<div class="modal fade" id="battleProductShelfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">上下架<span id="shelf_title"></span></h4>
      </div>
      <div id="battle_product_shelf_body">

      </div>
    </div>
  </div>
</div>

<%= render partial: '/packages/error_modal' %>

