<div class="widefat">
  <div class="content mt40">
    <div class="right w970">
      <div class="clearfix">
        <div>
          <%= form_for supplier_trades_path, html: {method: :get, class: 'navbar-form navbar-left', id: 'search_form'} do |f| %>
            <div class="form-group row" style="margin-bottom: 5px">
              <span>SPU_ID:</span>
              <%= text_field_tag "q[product_id_in]", params[:q][:product_id_in], class: "form-control mr_30" %>
            </div>
            <div class="form-group row" style="margin-bottom: 5px">
              <span>原厂款号:</span>
              <%= text_field_tag "q[product_identifier_cont]", params[:q][:product_identifier_cont], class: "form-control mr_30", placeholder: "原厂款号" %>
            </div>
            <div class="form-group row" style="margin-bottom: 5px">
              <%= f.submit '搜索', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
