<p class="sub-header">战场管理>卡牌规则>卡牌规则列表</p>
<a type="button" class="btn btn-success" href="/card_rules/new">添加</a>
<a type="button" class="btn btn-success" href="/card_rules/1/edit">修改</a>
<%= render 'card_rules/show_card_rule'%>