<input  type="hidden"  name="thumbnail" id="thumbnail" value="<%= @thumbnail_path%>" class="form-control" placeholder="缩略图">


<div class="panel panel-info">
  <div class="panel-heading">缩略图(仅一张;图片比例为1:1，图片大小：200k以内)</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-8 col-md-4">
        <img id="preview_thumbnail" src="<%= @thumbnail%>">

      </div>
    </div>
  </div>
  <div class="panel-footer"><input type="file" id="upload_thumbnail" name="file" accept=".png, .jpg, .jpeg" data_for='glutton'></div>
</div>



