<!-- 礼包删除modal -->
<div class="modal fade" id="delupPropModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">道具删除</h4>
      </div>
        <div class="modal-body">
          <h3>确定删除该礼包道具吗？</h3>
          <input type="hidden" id="del_up_item_id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="delete_item_up">确定</button>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#delete_item_up').on('click', function(){
      var item_id = $('#del_up_item_id').val()
      $.ajax({
        type: "post",
        url: '/glutton_levels/destroy_prop',
        data: { energy_product_gift_id: item_id },
        success: function(result){
          if(result.status == 200){
            $("#tr_" + item_id).remove()
            $('#delupPropModal').modal('hide')
          }else{
            $('#delupPropModal').modal('hide')
            alert('删除失败')
          }
        },
        error: function(XMLHttpResponse){
          alert('删除失败')
        }
      })

    })
  })
</script>
