<div class="panel panel-info">
  <div class="panel-heading"><strong>收货地址信息</strong></div>
  <ul class="list-group">
    <li class="list-group-item">用户：<span class="red"><%= @auction_sm.user&.name %></span></li>
    <li class="list-group-item">短信内容：<%= @auction_sm.content %></li>
    <li class="list-group-item">电话：<%= @auction_sm.phone %></li>
  </ul>
</div>
