<p class="sub-header">系统管理>宝箱管理>添加兑换码</p>
<div class="panel panel-default">
  <div class="panel-heading">添加</div>
  <div class="panel-body">
    <div class="form-group row">
      <div class="col-sm-12">
        <form action="/box_prize_codes/create_box_prize" method="post">

          <div class="form-group row">
            <label class="col-sm-2">类型</label>
            <div class="col-sm-8">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" value='1' name="prize_type"
                         onclick="limit_box_prize_max_num(100)" checked="checked">独立兑奖码
                  <input class="form-check-input" type="radio" value="2" name="prize_type"
                         onclick="limit_box_prize_max_num(10000)"> 复用兑奖码
                </label>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">赠送类型</label>
            <div class="col-sm-8">
              <select class="select2-picker" name="treasure_type" style="width: 100%">
                <option value=1>赠送付费宝箱符</option>
                <option value=2>赠送免费宝箱符</option>
              </select>
            </div>
          </div>



          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">名称
            </label>
            <div class="col-sm-8">
              <input type="input" name="name" class="form-control" placeholder="名称">
              <p class="bg-danger p_last_num" id="sku_id_last_num"></p>
            </div>
          </div>

          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">赠送付费宝箱符数量</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="number" name="treasure_amount" min="0" max="99999999"
                       step='1' class="form-control" required="required" placeholder="赠送付费宝箱符数量">
                <span class="input-group-addon">个</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">赠送免费宝箱符数量</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="number" name="free_treasure_amount" min="0" max="99999999"
                       step='1' class="form-control" required="required" placeholder="赠送免费宝箱符数量">
                <span class="input-group-addon">个</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">生成数量/可用次数</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="number" name="num" min="1" max="100" id="max_num"
                       step='1' class="form-control" required="required"
                       placeholder="生成数量，独立兑奖码最多100,复用兑奖码最多10000">
                <span class="input-group-addon">个</span>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">有效期</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="number" name="valid_date" min="1" max="3650"
                       step='1' class="form-control" required="required" placeholder="有效期">
                <span class="input-group-addon">天</span>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="input" class="col-sm-2 col-form-label">ID使用上限</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="number" name="limit_num" min="1" max="99999999"
                       step='1' class="form-control" required="required" placeholder="ID使用上限">
                <span class="input-group-addon">个</span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="battle_product_desc" class="col-sm-2 col-form-label">说明</label>
            <div class="col-sm-8">
              <textarea class="form-control"  rows="4" name="remark"  placeholder="说明"></textarea>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit"   class="btn btn-primary">保存</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>