<table class="table table-hover">
  <thead>
  <tr>
    <th>退款单号</th>
    <th>申请时间</th>
    <th>退款商品</th>
    <th>申请退款</th>
    <th>实际退款</th>
    <th>退款备注</th>
    <th>操作人</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
  </tr>
  </tbody>

</table>