<div class="row placeholders well">
  <%= form_for chest_prizes_path, html: {method: :get, class: 'navbar-form navbar-left', id: 'search_form'} do |f| %>
    <div class="form-group row">
      <span>奖品名称：</span>
      <%= text_field_tag "q[name_cont]", params[:q][:name_cont], class: 'form-control mr_20', placeholder: '文案名称' %>
      <!-- <span>邮件分类：</span>
      <%#= select_tag "q[mail_type_id_eq]", options_for_select([['所有分类', nil]] + MailType.active.map{|mt| [mt.name, mt.id]}, params[:q][:mail_type_id_eq]), class: 'form-control mr_50'  %> -->

      <%= f.submit '查询', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
