<div class="row"><p class="sub-header">营销管理>邮件管理>修改邮件分类</p></div>

<%= form_for @mail_type, url: mail_type_path, method: "put",  html: {class: 'bg pd_20 form-horizontal'} do |f| %>
  <%= f.hidden_field :id %>
  <%= render partial: 'form', locals: { f: f} %>
<% end %>
