<%#= render partial: 'form' %>
<p class="sub-header">卡牌商城>卡牌促销>新建至尊宝箱</p>
<div class="row  col-sm-10">
  <form action="/extreme_chests" method="post">
    <div class="form-group row">
      <label for="extreme_chests_status" class="col-sm-2 col-form-label">*前台启用：</label>
      <div class="col-sm-6">
        <% if @extreme_chest.status %>
          <div class="radio">
            <label class="mr_30">
              <input class="form-check-input" type="radio" value="1" name="status"  checked="checked">启用
            </label>
            <label class="mr_30">
              <input class="form-check-input" type="radio" value="0" name="status">关闭
            </label>
          </div>
        <% else %>
          <div class="radio">
            <label class="mr_30">
              <input class="form-check-input" type="radio" value="1" name="status">启用
            </label>
            <label class="mr_30">
              <input class="form-check-input" type="radio" value="0" name="status"  checked="checked">关闭
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <label for="extreme_chest_card_count" class="col-sm-2 col-form-label">*宝符数：</label>
      <div class="col-sm-6">
        <div class="input-group">
          <input type="number" name="card_count" min="1" value="<%= @extreme_chest.card_count %>" max="99999" class="form-control" required="required" placeholder="正整数" id='extreme_chest_card_count'>
          <span class="input-group-addon">个</span>
        </div>
      </div>
    </div>

    <%= render partial: 'item' %>

    <!-- <div class="form-group row mt_50">
      <label for="extreme_chest_status" class="col-sm-2 col-form-label">*清零（重置）时间：</label>
      <div class="col-sm-6">
          每天<input type="text" name="refresh_time" value="<%#= @extreme_chest.refresh_time %>" class="form-control" required="required" placeholder="00:00" id='extreme_chest_refresh_time'>
      </div>
      <div class="input-group date">
        <label class="form-check-label">
          <span class="mr_20">每天</span><input type='text' class="form-check-input" name="refresh_time" value="<%#= @extreme_chest.refresh_time %>" id="refresh_time_picker" required="required" placeholder="00:00" />
          <span class="mr_20">每天</span><input type='text' class="form-check-input" name="refresh_time" value="00:00" id="refresh_time_picker" required="required" placeholder="00:00" readonly="readonly" />
        </label>
      </div>
    </div> -->
    <input type="hidden" name="name" value="至尊宝箱">

    <div class="form-group mt_50">
      <div class="col-sm-offset-2 col-sm-4">
        <%= link_to '取消', '/extreme_chests', class: 'btn btn-default mr_20', role: 'button' %>
        <%#= f.submit '保存', class: 'btn btn-primary', data: {:disable_with => "提交中..."} %>
        <button type="submit" class="btn btn-primary" id="extreme_chests_submit">保存</button>
      </div>
    </div>

  </form>
</div>
<script type="text/javascript">
  $(function(){
    $('body').on('click', '.del_item_new', function(){
      $(this).parent().parent().remove()
    })
  })
</script>

