.ml_1 {
    margin-left: 1px;
}
.ml_5 {
    margin-left: 5px;
}

.ml_10 {
    margin-left: 10px;
}

.ml_15 {
    margin-left: 15px;
}

.ml_20 {
    margin-left: 20px;
}

.ml_50 {
    margin-left: 50px;
}
.ml_130 {
    margin-left: 130px;
}

.mr_5 {
    margin-right: 5px;
}

.mr_10 {
    margin-right: 10px;
}

.mr_15 {
    margin-right: 15px;
}

.mr_20 {
    margin-right: 20px;
}

.mr_25 {
    margin-right: 25px;
}

.mr_30 {
    margin-right: 30px;
}

.mr_50 {
    margin-right: 50px;
}

.mr_100 {
    margin-right: 100px;
}

.mt_10 {
    margin-top: 10px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_30 {
    margin-top: 30px;
}

.mt_50 {
    margin-top: 50px;
}

.mt_100 {
    margin-top: 100px;
}

.mb_20 {
    margin-bottom: 20px;
}

.w_50 {
    width: 50px;
}

.w_80 {
    width: 80px;
}

.ft_14 {
    font-size: 14px;
}

.ft_16 {
    font-size: 16px;
}

.ft_20 {
    font-size: 20px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.z_10 {
    z-index: 10;
}

.hide {
    display: none;
}

.red {
    color: red
}

.prize_select_static {
    width: 130% !important;
}

.card_chose {
    width: 20% !important;
}

.close_img {
    background: url('close_pop.png');
}

.activity_select2 {
    width: 100px;
}

.custom_input {
    width: 10%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin: -4px 2px 0px 2px;
}

.custom_input_md {
    width: 26%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin: -4px 2px 0px 2px;
}

.custom_input_big {
    width: 56%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin: -4px 2px 0px 2px;
}

.custom_input_lg {
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    margin: -4px 2px 0px 2px;
}

/* paginate css */
.pagination {
    float: left;
    margin: 10px 0;
}

.pagination span a,
.pagination span.gap,
.pagination span.current {
    float: left;
    padding: 4px 12px;
    line-height: 16px;
    text-decoration: none;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.border1 {
    border: 1px solid #CCC;
}

.pagination span.current {
    color: red;
}

.pagination li.currentpage {
    color: red;
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.pagination li.gap {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

nav.pagination > span:first-child,
.pagination > span.first a {
    border-left-width: 1px !important;
}

.pagination span > a:hover,
.pagination span a:focus {
    background-color: #f5f5f5;
    color: #FF6633;
}

.select-width-10 {
    width: 10% !important;
}
.select-width-14 {
    width: 14% !important;
}
.select-width-15 {
    width: 15% !important;
}

.select-width-18 {
    width: 18% !important;
}

.select-width-20 {
    width: 20% !important;
}

.width-per-66 {
    width: 66% !important;
}

.search-input-one {
    text-align: left
}

.search-input-two {
    margin-top: 10px;
    text-align: left
}

.headimg { cursor: pointer; }

.key_percent { color: blue; }

.item_content_tr { cursor: pointer;}

.bg_tr { background-color: #d9edf7 !important; }
.mce-branding-powered-by{ display: none; }
.side_bg {
  color: #000 !important;
  background-color: #eeeeee !important;
}
.side_bg a{
  color: #000 !important;
}

