.sidebar{
  //background: #003D79;
  //background: #272727;
  background: #464646;

  margin-top: -1px;
}

.side_menu_list a{
  //color: #F9F900;
  color: #FFD306;
}

.side_menu_list a:hover{
  color: #000;
}
