<div class="row">
  <p class="sub-header">系统管理>其它管理>操作日志</p>
</div>

<div class="row">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>日志类型</th>
      <th>详情</th>

    </tr>
    </thead>
    <tbody>
        <tr>
          <td>1</td>
          <td>卡牌日志</td>
          <td><a href="/admins/audited_logs?type=Card">详情</a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>战役日志</td>
          <td><a href="/admins/audited_logs?type=Battle">详情</a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>卡牌规则日志</td>
          <td><a href="/admins/audited_logs?type=CardRule">详情</a></td>
        </tr>
    </tbody>
  </table>
</div>
