<tr class="fields content_tr">
  <td>
    <!-- <input type="number" name="rule_items[][amount]" min="0.1" placeholder="金额" required step="0.1"> -->
    <%= select_tag "rule_items[][chest_prize_id]", options_for_select([["无", nil]] + ChestPrize.active.where(prize_type: 10).select('id, name').map{|cp| [cp.name, cp.id]}, {}), required: 'required', class: 'game_select2 chest_prize', style: "width: 200px !important;" %>
    <input type="hidden" name="rule_items[][prize_type]" value="1">
  </td>
  <td>
    <input type="number" name="rule_items[][count]" min="1" placeholder="数量" required>
  </td>
  <td>
    <%= link_to '删除', 'javascript:void(0)', class: 'del_item_new' %>
  </td>
</tr>

<script type="text/javascript">
  $(function(){
    $(".game_select2").select2()
  })
</script>
