<p class="sub-header">系统管理>文案管理>新增文案</p>

<form action="/copies" method="post" class="form-horizontal mt_50">
  <%= render partial: 'form' %>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6 mt_50">
      <%= link_to '取消', '/copies', class: 'btn btn-default mr_20 btn-lg', role: 'button' %>
      <button type="submit" class="btn btn-primary btn-lg" id='copy_submit'>保存</button>
    </div>
  </div>
</form>
