<h1>Editing Auction Voucher Trade</h1>

<%= render 'form', auction_voucher_trade: @auction_voucher_trade %>

<%= link_to 'Show', @auction_voucher_trade %> |
<%= link_to 'Back', auction_voucher_trades_path %>
