<div class="row"><p class="sub-header">财神>期次管理>新增期次</p></div>

<%= form_for @period, url: mammon_periods_path, html: {:method=>"post", class: 'bg pd_20 form-horizontal123'} do |f| %>
  <%= render partial: 'form', locals: { f: f} %>
<% end %>
