<p class="sub-header">财神>期次管理>开奖规则</p>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>开奖规则</strong></div>
  <form action="/mammon/periods/save_rule" method="post" class="form-horizontal mt_10" id="profileForm">
    <textarea name="rule" id="rule" rows="10" placeholder="开奖规则" class="tinymce"><%= @rule_setting.value %></textarea>
    <%#= f.text_area :relive_rule, id: "relive_rule", rows: "10", placeholder: "复活规则", class: "tinymce"%>
    <%#= text_area_tag :relive_rule, '', id: "relive_rule", rows: "10", placeholder: "复活规则", class: "tinymce"%>
    <%= render partial: 'rule_tinymce', locals: {text_id: 'rule'} %>

    <div class="col-sm-offset-5 col-sm-4 mt_20">
      <input type="submit" name="commit" value="保存" class="btn btn-primary btn-lg" data-disable-with="保存中...">
    </div>
  </form>
</div>
