<h1>Editing Mammon Invite Record</h1>

<%= render 'form', mammon_invite_record: @mammon_invite_record %>

<%= link_to 'Show', @mammon_invite_record %> |
<%= link_to 'Back', mammon_invite_records_path %>
