<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mammon_invite_record.user_id %>
</p>

<%= link_to 'Edit', edit_mammon_invite_record_path(@mammon_invite_record) %> |
<%= link_to 'Back', mammon_invite_records_path %>
