<!-- 删除modal -->
<div class="modal fade" id="deleteEnergyProducttModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">能量商品删除</h4>
      </div>
      <!-- <form action="/packages/destroy" method="post"> -->
        <!-- <input name="_method" type="hidden" value="delete" /> -->
        <div class="modal-body">
          <h3>确定删除能量商品：<span id="del_energy_product_name"></span>吗？</h3>

          <input type="hidden" id="del_energy_product_id">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="delete_energy_product">确定</button>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#delete_energy_product').on('click', function(){
      var epid = $('#del_energy_product_id').val()
      $.ajax({
        type: "delete",
        url: '/energy_products/' + epid,
        data: { },
        success: function(result){
          if(result.status == 200){
            $('#tr_' + epid).remove()
            $('#deleteEnergyProducttModal').modal('hide')
          }else{
            $('#deleteEnergyProducttModal').modal('hide')
            alertTX('删除失败')
          }
        },
        error: function(XMLHttpResponse){
          $('#deleteEnergyProducttModal').modal('hide')
          alertTX('删除失败')
        }
      })

    })
  })
</script>
