<h1><span class="red"><%= current_user.nickname %></span>，欢迎您来到重宝奇兵管理后台！</h1>

<!--<div class="row placeholders">-->
  <!--<form class="navbar-form navbar-right">-->
    <!--<input type="text" class="form-control" placeholder="Search...">-->
  <!--</form>-->
  <!--<form class="navbar-form navbar-right">-->
    <!--<input type="text" class="form-control" placeholder="Search...">-->
  <!--</form>-->
<!--</div>-->

<!--<p class="sub-header">夺宝管理/demo</p>-->
<!--<div class="table-responsive">-->
  <!--<table class="table table-striped">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>#</th>-->
      <!--<th>Header</th>-->
      <!--<th>Header</th>-->
      <!--<th>Header</th>-->
      <!--<th>Header</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr>-->
      <!--<td>1,001</td>-->
      <!--<td>Lorem</td>-->
      <!--<td>ipsum</td>-->
      <!--<td>dolor</td>-->
      <!--<td>sit</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
