<!-- 删除modal -->
<div class="modal fade" id="delGluttonItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">奖励删除</h4>
      </div>
        <div class="modal-body">
          <h3>确定删除该奖励吗？</h3>

          <input type="hidden" id="del_prize_item_id">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="delete_prize_item">确定</button>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#delete_prize_item').on('click', function(){
      var item_id = $('#del_prize_item_id').val()
      $.ajax({
        type: "post",
        url: '/glutton_settings/destroy_prize',
        data: { glutton_energy_prize_id: item_id },
        success: function(result){
          if(result.status == 200){
            $('#delGluttonItemModal').modal('hide')
            $("#prize_item_tr_" + item_id).remove()
          }else{
            alert('删除失败')
          }
        },
        error: function(XMLHttpResponse){
          alert('删除失败')
        }
      })

    })
  })
</script>
