<tr class="fields content_tr">
  <td>
    <div class="input-group">
      <input type="number" name="glutton_energy_prizes[][blood_percent]" min="0" max="100" step="0.1" class="form-control" required placeholder="最多1位小数">
      <span class="input-group-addon">%</span>
    </div>
  </td>

  <td>
    <div class="input-group">
      <input type="number" name="glutton_energy_prizes[][energy_percent]" min="0" max="100" step="0.1" class="form-control" required placeholder="最多1位小数">
      <span class="input-group-addon">%</span>
    </div>
  </td>

  <td><%= link_to '删除', 'javascript:void(0)', class: 'del_item_new' %></td>
</tr>
