<tr class="fields content_tr">
  <td>
    <div class="input-group">
      <input type="number" name="glutton_texts[][blood_percent]" min="0" max="100" step="0.1" class="form-control" required placeholder="最多1位小数">
      <span class="input-group-addon">%</span>
    </div>
  </td>

  <td>
    <!-- <div class="input-group"> -->
      <input type="text" name="glutton_texts[][show_text]" class="form-control" required placeholder="提示语言">
    <!-- </div> -->
  </td>

  <td><%= link_to '删除', 'javascript:void(0)', class: 'del_item_new' %></td>
</tr>
