<table class="table table-striped table-hover">
  <thead>
    <tr class="info">
      <th>饕餮血量值</th>
      <th>出现的语言提示</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="glutton_glutton_texts_body">
    <% if @glutton_setting.glutton_texts.present? %>
      <%= render partial: 'text_own' %>
    <% end %>
  </tbody>

  <%= link_to '添加', 'javascript:void(0)', id: 'add_glutton_text_item', class: 'btn btn-success mt_20' %>
</table>

<script type="text/javascript">
  // $(document).on('turbolinks:load', function () {
  $(function(){
    $('#add_glutton_text_item').on('click', function(){
      $.ajax({
        type: 'get',
        url: '/glutton_settings/text_item',
        data: { },
        success: function(result){
          $('#glutton_glutton_texts_body').append(result)
        },
        error: function(XMLHttpResponse){
          alert('添加失败')
        }
      })
    })
  })
</script>
