<div class="row placeholders well">
  <%= form_for jd_cards_path, html: {method: :get, class: 'navbar-form navbar-left', id: 'search_form'} do |f| %>
    <div class="form-group row">
      <span>卡号：</span>
      <%= text_field_tag "q[code_cont]", params[:q][:code_cont], class: 'form-control mr_20', placeholder: '卡号' %>


      <%= f.submit '查询', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
