<div class="panel panel-info">
  <div class="panel-heading">饕鬄血量规则</div>
  <div class="panel-body">
    <% @bout_number.times do |bn| %>
        <div class="form-group row">
          <div class="col-sm-12">
              第<%= bn+1 %>轮饕鬄血量
              <input class="form-check-input" name="taoti_blood[]" value="<%=@taoti_blood.present? ? @taoti_blood[bn] : ''%>"  type="number" min="1"  max="99999999" step='1' required>点

          </div>
        </div>
    <% end %>


  </div>


</div>