<%= form_with(model: manage_editor, local: true) do |form| %>
  <% if manage_editor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manage_editor.errors.count, "error") %> prohibited this manage_editor from being saved:</h2>

      <ul>
      <% manage_editor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
