<p class="sub-header">宝箱>回收管理</p>
<div class="panel panel-primary">
  <div class="panel-heading"><strong>回收规则详情</strong></div>
  <ul class="list-group">
    <li class="list-group-item">奖品名称:<%= @recovery_item.chest_prize_id %></li>
    <li class="list-group-item">用户名称:<%= @recovery_item.user_id %></li>
    <li class="list-group-item">回收名称:<%= @recovery_item.recovery_id%></li>
    <li class="list-group-item">回收数量:<%= @recovery_item.count%></li>
</div>
