<h1>New Auction Promotion Activity Apply</h1>

<%= render 'form', auction_promotion_activity_apply: @auction_promotion_activity_apply %>

<%= link_to 'Back', auction_promotion_activity_applies_path %>
