<!-- 上下架modal -->
<div class="modal fade" id="gameProductTagAbleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">分类<span id="able_title"></span></h4>
      </div>
      <!-- <form action="/packages/able" method="post"> -->
        <div class="modal-body">
          <h3>是否<span id="able_status"></span>分类：<span id="able_game_product_tag_name"></span> 吗？</h3>

          <input type="hidden" id="able_game_product_tag_id">
          <input type="hidden" id="able_game_product_tag_status">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
          <button type="submit" class="btn btn-primary" id="do_able">是</button>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>

<%= render partial: '/packages/error_modal' %>

<script type="text/javascript">
  $(function(){
    $('#do_able').on('click', function(){
      var able_id = $('#able_game_product_tag_id').val()
      console.log(able_id)
      $.ajax({
        type: "post",
        url: '/game_product_tags/'+able_id+'/able',
        data: { able_status: $('#able_game_product_tag_status').val()},
        success: function(result){
          if(result.status == 200){
            $('#gameProductTagAbleModal').modal('hide')
            window.location.reload();
          }else{
            $('#gameProductTagAbleModal').modal('hide')
            elert(result.msg)
          }
        },
        error: function(XMLHttpResponse){
          $('#gameProductTagAbleModal').modal('hide')
          elert('操作失败')
        }
      })
    })
  })

</script>
