<div class="row placeholders well">
  <%= form_for extreme_chests_path, html: {method: :get, class: "navbar-form navbar-left", id: 'search_form'}  do |f| %>
    <div class="form-group row">
      <span>状态：</span>
      <%= select_tag "q[status_eq]", options_for_select([["所有状态", nil]] + ExtremeChest::STATUS.to_a.map(&:reverse), params[:q][:status_eq]), class: 'form-control mr_100' %>

      <span>名称：</span>
      <%= text_field_tag "q[name_cont]", params[:q][:name_cont], class: 'form-control mr_100', placeholder: "名称" %>
    </div>

    <%= f.submit '搜索', class: "btn btn-primary" %>
  <% end %>
</div>

