.panel-form-center{
  margin-right: 15%;
}
.panel-form-center .sf-submit {
  margin-left: 50%;
}
.ml_20{
  margin-left:30px;
}
#preview_thumbnail{
  max-width:200px;
}
.table td{
  vertical-align: middle !important;
}
.modal-body h3{
  font-weightL: normal;
  font-size: 16px;
}