<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="edit_content_div">

    </div>
  </div>
</div>

<script type="text/javascript">
  // $(function(){
  //   $('#do_shelf').on('click', function(){
  //     var shelf_id = $('#shelf_energy_product_id').val()
  //     console.log(shelf_id)
  //     $.ajax({
  //       type: "post",
  //       url: '/energy_products/'+shelf_id+'/shelf',
  //       data: { shelf_status: $('#shelf_energy_product_status').val()},
  //       success: function(result){
  //         if(result.status == 200){
  //           $('#EditModal').modal('hide')
  //           window.location.reload();
  //         }else{
  //           $('#EditModal').modal('hide')
  //           elert(result.msg)
  //         }
  //       },
  //       error: function(XMLHttpResponse){
  //         $('#EditModal').modal('hide')
  //         elert('操作失败')
  //       }
  //     })
  //   })
  // })

</script>
