
  <%= render partial: '/supplier/products/info', locals: {f: f} %>

  <div class="clearfix"></div>
  <div class="form-group row mt_50">
    <div class="col-sm-offset-2 col-sm-4">
      <%#= link_to '审核通过并提交', 'javascript:void(0)', onclick: "review_supplier_product(#{@supplier_product.id}, '#{@supplier_product.name}', #{review_status(current_user)})", class: 'btn btn-primary btn-lg btn-block', role: 'button' %>
      <%#= link_to '取消', auction_products_path, class: 'btn btn-default mr_20', role: 'button' %>
      <%= f.submit '保存', class: 'btn btn-primary', id: 'auction_product_submit' %>
    </div>
  </div>

  <%#= render partial: 'review_modal'  %>


