<tr class="fields content_tr">
  <td>
    <input type="number" name="cash_gains[][num]" min="0" placeholder="奖金数" required value="0" min="0">
  </td>
  <td>
    <input type="number" name="cash_gains[][ratio]" min="0" placeholder="比例" required value="0" min="0">%
  </td>
  <td>
    <input type="number" name="cash_gains[][count]" min="0" placeholder="实际数量" required value="0" min="0">
  </td>
  <td>
    <%= link_to '删除', 'javascript:void(0)', class: 'del_item_new' %>
  </td>
</tr>
