<div class="row"><p class="sub-header">宝箱管理>宝箱设置>现金宝箱推荐配置</p></div>

<form action="/chest_boxs/cash_box" method="post" class="form-horizontal123 mt_10" id="profileForm">

  <div class="form-group row mt_20">
    <label for="" class="col-sm-2 control-label">总金额</label>
    <div class="col-sm-10">
      <input type="number" name="total_price" placeholder="总金额" class="form-control" required min="0" step="0.1">
    </div>
  </div>

  <div class="form-group row mt_20">
    <label for="" class="col-sm-2 control-label">平均价</label>
    <div class="col-sm-10">
      <input type="number" name="average_price" placeholder="平均价" class="form-control" required min="0" step="0.1">
    </div>
  </div>

  <legend class="mt_30">
    <p>
      <span>可获奖金</span>
      <span><%= link_to '增加', 'javascript:void(0)', class: 'btn  btn-success ml_20', id: 'add_chest_prize' %></span>
    </p>
  </legend>
  <div class="form-group row mt_20">
    <label for="" class="col-sm-2 control-label"></label>
    <span class="hide" id="random_id">100000</span>
    <div class="col-sm-10">
      <%= render partial: 'gain_own' %>
    </div>
  </div>

  <div class="col-sm-offset-5 col-sm-4 mt_20" >
    预计平均值为:<span id = "avg" style="color: red"></span>
  </div>
  <div class="col-sm-offset-5 col-sm-4 mt_20" >
    总花费:<span id = "total" style="color: red"></span>
  </div>

  <div class="col-sm-offset-5 col-sm-4 mt_20">
    <div class="btn btn-primary btn-lg" id = "cal">计算</div>
  </div>

</form>
<script type="text/javascript">
  $("#cal").click(function  () {
    console.log($("form").serialize())
    // body...
    $.ajax({
        type: "post",
        url: '/chest_boxs/cash_box?' + $("form").serialize(),
        success: function(result){
          if(result.status == 200){
            $.each(result.data.cash_gains,function(i,item){
              console.log("#cash_gain_body tr:nth-child(" + (i+1).toString() +  ") td:nth-child(3) input")
              $($("#cash_gain_body tr:nth-child(" + (i+1).toString() +  ") td:nth-child(3) input")).val(item.count)
            });
            $("#avg").html(result.avg)
            $("#total").html(result.total)
          }else{
            alert('网络错误')
          }
        },
        error: function(XMLHttpResponse){
          alert('网络错误')
        }
      })
  })
</script>
