<!-- 礼包删除modal -->
<div class="modal fade" id="delProductSkuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">商品SKU删除</h4>
      </div>
        <div class="modal-body">
          <h3>确定删除该商品SKU吗？</h3>

          <input type="hidden" id="del_sku_id">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="delete_sku">确定</button>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#delete_sku').on('click', function(){
      var item_id = $('#del_sku_id').val()
      $.ajax({
        type: "post",
        url: '/supplier/products/destroy_sku',
        data: { sku_id: item_id },
        success: function(result){
          if(result.status == 200){
            $("#tr_" + item_id).remove()
            $('#delProductSkuModal').modal('hide')
          }else{
            $('#delProductSkuModal').modal('hide')
            alert('删除失败')
          }
        },
        error: function(XMLHttpResponse){
          alert('删除失败')
        }
      })

    })
  })
</script>
