<tr class="fields content_tr sku_content">
  <td>
    <input type="text" name="skus[][name]" placeholder="SKU名称" class="form-control" width="100px" required>
  </td>

  <td>
    <input type="number" name="skus[][amount]" min="0" max="99999999" placeholder=">=0的整数" class="form-control" width="100px" required>
  </td>

  <td>
    <input type="text" name="skus[][code]" class="form-control" width="100px" placeholder="SKU编号（选填）" id="<%= params[:random_id] %>">
    <!-- <p class="bg-danger p_last_num left_str_num"></p> -->
  </td>

  <td><%= link_to '删除', 'javascript:void(0)', class: 'del_item_new' %></td>
</tr>
