<h1>New Auction Promotion Activity Apply Product</h1>

<%= render 'form', auction_promotion_activity_apply_product: @auction_promotion_activity_apply_product %>

<%= link_to 'Back', auction_promotion_activity_apply_products_path %>
