<div class="modal fade" id="CancelWithModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title title_name" id="exampleModalLabel" >作废订单</h4>
      </div>
      <form action="/pay/withdrawals_orders/cancel" method="post">
        <div class="modal-body">
          <h5>金额:<span id="cancel_pay_amount"></span>元</h5>
          <input type="hidden"  class="form-control" name='id' id="cancel_pay_with_id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">确定</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    <!--作废订单-->
    function cancel_transfer(order_id,amount){
        $('#CancelWithModal').modal('show');
        $('#CancelWithModal').on('shown.bs.modal',function(){
            $('#cancel_pay_with_id').val(order_id)
            $('#cancel_pay_amount').html(amount)
        }).on('hidden.bs.modal', function (e) {
            $('#cancel_pay_with_id').val('')
            $('#cancel_pay_amount').html('')
        })
    }
</script>