<div class="row placeholders well">
  <%= form_for withdraw_cash_pay_withdrawals_orders_path, html: {method: :get, class: 'navbar-form navbar-left', id: 'search_form'} do |f| %>
    <div class="form-group row">
      <span>时间:</span>
        <%= text_field_tag 'pay_date', params[:pay_date], class: 'form-control pay_search_time_begin', placeholder: '开始时间' %>
        <!-- <%= text_field_tag 'end_date', params[:end_date], class: 'form-control mr_30 pay_search_time_end', placeholder: '结束时间' %> -->
      <div class='btn btn-primary' id = "submit">查询</div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function(){
    $("#submit").click(function () {
      $("#search_form")[0].action = '/pay/withdrawals_orders/withdraw_cash'
      $("#search_form").submit()
    })
    $('.pay_search_time_begin').datetimepicker({
        format: 'YYYY-MM',
        locale: 'zh-cn',
        useCurrent: true
    }).on('dp.change',function (ev) {
        $('.pay_search_time_begin').val(moment(ev.date).format('YYYY-MM'))
    });
    $('.pay_search_time_end').datetimepicker({
        format: 'YYYY-MM',
        locale: 'zh-cn',
        useCurrent: true
    }).on('dp.change',function (ev) {
        $('.pay_search_time_end').val(moment(ev.date).format('YYYY-MM'))
    });
  })
</script>
